name: CI job

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: hello-world
        run: echo 'Hello World!' 

      - name: multiline
        run: |
          echo 'Line 1'
          echo 'Line 2'
    
    
